body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 21px;
}

header{
    background-color: #DF1F2D;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2{
    font-family: 'Tiro Devanagari Hindi', serif;

}

header h1{
    color: white;
    font-size: 70px;
}

header img{
    border-radius: 150px;
    border: 20px solid #2B3784;
}

main{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 0 25px 25px 25px;
}

h2 {
    font-size: 35px;
    color:#2B3784  ;
    margin: 40px 0 10px;
}

a {
   color: #2B3784; 
}
a:hover{
    color: #DF1F2D;
}

footer{
    background-color: #447BBE;
    text-align: center;
    color: white;
    padding: 50px;

}
footer p{
    margin: 0;
}
footer a{
    color: white;
}
footer a:hover{
    color:black;

}p.caption {
    color: gray;
    font-style: italic;
    margin-top: 0;
}